In [1]:
from pandas import Series,DataFrame
import pandas as pd
obj = Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [3]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
obj2 = Series([4,7,-5,3],index = ['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [5]:
obj2.index

Index([u'd', u'b', u'a', u'c'], dtype='object')

In [6]:
obj2['a']

-5

In [7]:
obj2['d']

4

In [8]:
obj2[['c','a','d']]

c    3
a   -5
d    4
dtype: int64

In [9]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2[obj2 > 0 ]

d    4
b    7
c    3
dtype: int64

In [11]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [12]:
import numpy as np
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [13]:
'b' in obj2

True

In [14]:
'e' in obj2

False

In [20]:
sdata = {'0hio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3 = Series(sdata)
obj3

0hio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [26]:
states = ['California','0hio','Oregon','Texas']
obj4 = Series(sdata,index=states)
obj4

California        NaN
0hio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [30]:
pd.isnull(obj4)

Clifornia     True
0hio         False
Oregon       False
Texas        False
dtype: bool

In [31]:
pd.notnull(obj4)

Clifornia    False
0hio          True
Oregon        True
Texas         True
dtype: bool

In [32]:
obj4.isnull()

Clifornia     True
0hio         False
Oregon       False
Texas        False
dtype: bool

In [33]:
obj3

0hio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [35]:
obj4

Clifornia        NaN
0hio         35000.0
Oregon       16000.0
Texas        71000.0
dtype: float64

In [37]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
Clifornia        NaN
0hio         35000.0
Oregon       16000.0
Texas        71000.0
Name: population, dtype: float64

In [38]:
obj.index = ['Bob','Steve','Jeff','Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64