In [5]:
#手工处理分隔符格式

In [7]:
import pandas as pd
import numpy as np

In [8]:
!type C:\Users\zyy\Downloads\pydata-book-master\ch06\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [10]:
import csv
f = open('C:\Users\zyy\Downloads\pydata-book-master\ch06\ex7.csv')
reader = csv.reader(f)
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [13]:
lines = list(csv.reader(open('C:\Users\zyy\Downloads\pydata-book-master\ch06\ex7.csv')))
header,values = lines[0],lines[1:]
data_dict = {h: v for h, v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

# JSON数据

In [24]:
obj = """
{
"name":"Wes",
"places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":25,"pet":"Zuko"},
                {"name":"Katie","age":33,"pet":"Cisco"}]
}
"""

In [35]:
import json
result = json.loads(obj)
result

{u'name': u'Wes',
 u'pet': None,
 u'places_lived': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [42]:
asjson = json.dumps(result)
siblings = pd.DataFrame(result['siblings'],columns=['name','age'])
siblings

    name  age
0  Scott   25
1  Katie   33