In [8]:
import pandas as pd
import numpy as np
data = {'sate':['0hio','0hio','0hio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
       'pop':[1.5,1.7,3.6,2.1,2.9]}
frame = pd.DataFrame(data)
frame

   pop    sate  year
0  1.5    0hio  2000
1  1.7    0hio  2001
2  3.6    0hio  2002
3  2.1  Nevada  2001
4  2.9  Nevada  2002

In [10]:
pd.DataFrame(data,columns=['year','state','pop'])

   year state  pop
0  2000   NaN  1.5
1  2001   NaN  1.7
2  2002   NaN  3.6
3  2001   NaN  2.1
4  2002   NaN  2.9

In [13]:
frame2 = pd.DataFrame(data,columns=['year','state','pop','debt'],
                     index=['one','two','three','four','five'])
frame2

       year state  pop debt
one    2000   NaN  1.5  NaN
two    2001   NaN  1.7  NaN
three  2002   NaN  3.6  NaN
four   2001   NaN  2.1  NaN
five   2002   NaN  2.9  NaN

In [14]:
frame.columns

Index([u'pop', u'sate', u'year'], dtype='object')

In [16]:
frame2['state']

one      NaN
two      NaN
three    NaN
four     NaN
five     NaN
Name: state, dtype: object

In [17]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64

In [18]:
frame2.ix['three']

year     2002
state     NaN
pop       3.6
debt      NaN
Name: three, dtype: object

In [20]:
frame2['debt'] = 16.5
frame2

       year state  pop  debt
one    2000   NaN  1.5  16.5
two    2001   NaN  1.7  16.5
three  2002   NaN  3.6  16.5
four   2001   NaN  2.1  16.5
five   2002   NaN  2.9  16.5

In [21]:
frame2['debt'] = np.arange(5.)
frame2

       year state  pop  debt
one    2000   NaN  1.5   0.0
two    2001   NaN  1.7   1.0
three  2002   NaN  3.6   2.0
four   2001   NaN  2.1   3.0
five   2002   NaN  2.9   4.0

In [23]:
val = pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
frame2['debt'] = val
frame2

       year state  pop  debt
one    2000   NaN  1.5   NaN
two    2001   NaN  1.7  -1.2
three  2002   NaN  3.6   NaN
four   2001   NaN  2.1  -1.5
five   2002   NaN  2.9  -1.7

In [24]:
frame2['eastern'] = frame2.state =='0hio'
frame2

       year state  pop  debt eastern
one    2000   NaN  1.5   NaN   False
two    2001   NaN  1.7  -1.2   False
three  2002   NaN  3.6   NaN   False
four   2001   NaN  2.1  -1.5   False
five   2002   NaN  2.9  -1.7   False

In [27]:
del frame2['eastern']
frame2.columns

Index([u'year', u'state', u'pop', u'debt'], dtype='object')

In [33]:
pop = {'Nevada':{2001:2.4,2002:2.9},
       '0hio':{200:1.5,2001:1.7,2002:3.6}}
frame3 = pd.DataFrame(pop)
frame3

      0hio  Nevada
200    1.5     NaN
2001   1.7     2.4
2002   3.6     2.9

In [34]:
frame3.T

        200   2001  2002
0hio     1.5   1.7   3.6
Nevada   NaN   2.4   2.9

In [36]:
pd.DataFrame(pop,index=[2201,2002,2003])

      0hio  Nevada
2201   NaN     NaN
2002   3.6     2.9
2003   NaN     NaN

In [37]:
pdata = {'0hio':frame3['0hio'][:-1],
        'Nevada':frame3['Nevada'][:2]}
pd.DataFrame(pdata)

      0hio  Nevada
200    1.5     NaN
2001   1.7     2.4

In [39]:
frame3.index.name = 'year';frame3.columns.name = 'state'
frame3

state  0hio  Nevada
year
200     1.5     NaN
2001    1.7     2.4
2002    3.6     2.9

In [40]:
frame3.values

array([[ 1.5,  nan],
       [ 1.7,  2.4],
       [ 3.6,  2.9]])

In [41]:
frame2.values

array([[2000L, nan, 1.5, nan],
       [2001L, nan, 1.7, -1.2],
       [2002L, nan, 3.6, nan],
       [2001L, nan, 2.1, -1.5],
       [2002L, nan, 2.9, -1.7]], dtype=object)