In [17]:
from pandas import Series,DataFrame
import pandas as pd
obj = Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [18]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [19]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [20]:
obj2 = Series([4,7,-5,3],index = ['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [21]:
obj2.index

Index([u'd', u'b', u'a', u'c'], dtype='object')

In [22]:
obj2['a']

-5

In [23]:
obj2['d']

4

In [24]:
obj2[['c','a','d']]

c    3
a   -5
d    4
dtype: int64

In [25]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [26]:
obj2[obj2 > 0 ]

d    4
b    7
c    3
dtype: int64

In [27]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [29]:
import numpy as np
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [30]:
'b' in obj2

True

In [31]:
'e' in obj2

False

In [32]:
sdata = {'0hio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3 = Series(sdata)
obj3

0hio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [35]:
states =  ['Clifornia','0hio','Oregon','Texas']
obj4 = Series(sdata.index=states)

SyntaxError: keyword can't be an expression (<ipython-input-35-9b4fc7567457>, line 2)