# 时间序列

In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2016, 7, 12, 15, 1, 54, 605000)

In [2]:
now.year,now.month,now.day

(2016, 7, 12)

In [3]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)
delta

datetime.timedelta(926, 56700)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [9]:
from datetime import timedelta
start = datetime(2001,1,7)
start + timedelta(12)

datetime.datetime(2001, 1, 19, 0, 0)

In [10]:
start -2 * timedelta(12)

datetime.datetime(2000, 12, 14, 0, 0)

# #字符串和datetime的相互转换

In [11]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y - %m - %d')

'2011 - 01 - 03'

In [14]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [16]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
parse('Jan 31,1977 10:45 PM')

datetime.datetime(1977, 1, 31, 22, 45)

In [18]:
parse('6/12/2011',dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [19]:
datestrs

['7/6/2011', '8/6/2011']

In [21]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [23]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [24]:
idx[2]

NaT

In [25]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

# 时间序列基础

In [29]:
from datetime import datetime
import numpy as np
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
        datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6),index = dates)
ts

2011-01-02    0.407273
2011-01-05    0.418665
2011-01-07    0.419295
2011-01-08   -0.061278
2011-01-10    0.995560
2011-01-12    1.988117
dtype: float64

In [30]:
type(ts)

pandas.core.series.Series

In [31]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [32]:
ts + ts[::2]

2011-01-02    0.814547
2011-01-05         NaN
2011-01-07    0.838591
2011-01-08         NaN
2011-01-10    1.991120
2011-01-12         NaN
dtype: float64

In [33]:
ts.index.dtype

dtype('<M8[ns]')

In [34]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [35]:
stamp = ts.index[2]
ts[stamp]

0.41929525133476597

In [36]:
ts['1/10/2011']

0.99556006485890247

In [37]:
ts['20110110']

0.99556006485890247

In [38]:
longer_ts = pd.Series(np.random.randn(1000),
                     index = pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01   -0.429516
2000-01-02    0.483760
2000-01-03    1.087853
2000-01-04    0.155801
2000-01-05    1.327222
2000-01-06    1.216576
2000-01-07   -0.579328
2000-01-08    0.478757
2000-01-09    0.024179
2000-01-10   -1.007604
2000-01-11   -0.933801
2000-01-12   -0.727374
2000-01-13    0.850219
2000-01-14    1.943483
2000-01-15   -1.463705
2000-01-16    0.838878
2000-01-17   -0.041006
2000-01-18   -2.399309
2000-01-19   -0.455618
2000-01-20    0.993939
2000-01-21    0.678786
2000-01-22   -1.950903
2000-01-23    0.430868
2000-01-24   -1.314354
2000-01-25   -0.898328
2000-01-26   -0.533022
2000-01-27    1.730759
2000-01-28    0.273030
2000-01-29    0.297083
2000-01-30   -0.540505
                ...
2002-08-28   -1.052117
2002-08-29    0.397497
2002-08-30    0.277149
2002-08-31   -0.345115
2002-09-01    0.361834
2002-09-02    1.294439
2002-09-03    1.635008
2002-09-04   -1.693970
2002-09-05    1.977062
2002-09-06    0.190569
2002-09-07   -0.752796
2002-09-08   -0.567733
2002-09-09   -0.498963
2002-09-10    0.193458
2002-09-11   -0.654775
2002-09-12    1.512344
2002-09-13   -0.637861
2002-09-14    0.306685
2002-09-15    0.483780
2002-09-16    0.042118
2002-09-17   -1.349694
2002-09-18    1.135224
2002-09-19    0.373548
2002-09-20   -0.279451
2002-09-21   -0.128447
2002-09-22    1.204594
2002-09-23    1.731414
2002-09-24   -0.528239
2002-09-25   -0.350239
2002-09-26   -0.239419
Freq: D, dtype: float64

In [39]:
longer_ts['2001']

2001-01-01   -0.067838
2001-01-02    0.491705
2001-01-03   -0.543159
2001-01-04   -2.516217
2001-01-05   -1.100540
2001-01-06   -0.319945
2001-01-07   -1.380664
2001-01-08   -0.659019
2001-01-09    0.883496
2001-01-10   -0.677427
2001-01-11   -0.806241
2001-01-12   -1.310203
2001-01-13   -0.417186
2001-01-14   -0.165173
2001-01-15   -2.065126
2001-01-16    0.923432
2001-01-17   -0.151330
2001-01-18    0.728059
2001-01-19   -0.173822
2001-01-20   -0.826210
2001-01-21   -2.169994
2001-01-22    1.280934
2001-01-23    1.644255
2001-01-24   -1.404491
2001-01-25   -0.359033
2001-01-26    2.503886
2001-01-27    0.102805
2001-01-28    1.045549
2001-01-29    2.496363
2001-01-30   -0.683066
                ...
2001-12-02   -1.113943
2001-12-03    1.637475
2001-12-04   -0.256404
2001-12-05    1.831566
2001-12-06   -0.810468
2001-12-07   -0.104506
2001-12-08   -0.700128
2001-12-09   -1.770510
2001-12-10    0.363700
2001-12-11   -0.989280
2001-12-12   -0.314099
2001-12-13    0.532739
2001-12-14   -0.112416
2001-12-15   -1.115553
2001-12-16   -1.478180
2001-12-17    0.716240
2001-12-18    0.609632
2001-12-19   -3.508238
2001-12-20    0.628862
2001-12-21    0.464577
2001-12-22    0.465538
2001-12-23    1.213494
2001-12-24   -1.093533
2001-12-25    2.037870
2001-12-26   -1.327845
2001-12-27    0.505515
2001-12-28   -0.531936
2001-12-29   -0.010923
2001-12-30   -1.053525
2001-12-31   -0.241197
Freq: D, dtype: float64

In [40]:
ts[datetime(2011,1,7)]

0.41929525133476597

In [41]:
ts

2011-01-02    0.407273
2011-01-05    0.418665
2011-01-07    0.419295
2011-01-08   -0.061278
2011-01-10    0.995560
2011-01-12    1.988117
dtype: float64

In [42]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.419295
2011-01-08   -0.061278
2011-01-10    0.995560
dtype: float64

In [43]:
ts.truncate(after = '1/9/2011')

2011-01-02    0.407273
2011-01-05    0.418665
2011-01-07    0.419295
2011-01-08   -0.061278
dtype: float64

In [45]:
dates = pd.date_range('1/1/2000',periods=100,freq = 'W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),
                   index = dates,
                   columns = ['Colorado','Texas','New York','Ohio'])
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.089774  0.955381  0.035912 -0.334851
2001-05-09 -1.260472  0.898139  0.499689 -0.703585
2001-05-16  1.156815 -2.209868  0.378564 -0.088023
2001-05-23 -0.800003  0.770153  1.015603 -0.268275
2001-05-30  1.330945 -1.043626 -0.754629  0.670432

## 带有重复收银的时间序列

In [48]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000',
                         '1/3/2000'])
dup_ts = pd.Series(np.arange(5),index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [49]:
dup_ts.index.is_unique

False

In [50]:
dup_ts['1/3/2000']

4

In [51]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [52]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

## 日期的范围、频率以及移动

In [53]:
ts

2011-01-02    0.407273
2011-01-05    0.418665
2011-01-07    0.419295
2011-01-08   -0.061278
2011-01-10    0.995560
2011-01-12    1.988117
dtype: float64

In [55]:
ts.resample('D').mean()

2011-01-02    0.407273
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.418665
2011-01-06         NaN
2011-01-07    0.419295
2011-01-08   -0.061278
2011-01-09         NaN
2011-01-10    0.995560
2011-01-11         NaN
2011-01-12    1.988117
Freq: D, dtype: float64

## 生成日期范围

In [56]:
index = pd.date_range('4/1/2012','6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range(start='4/1/2012',periods = 20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range(end='6/1/2012',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range('1/1/2000','12/1/2000',freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [60]:
pd.date_range('5/2/2012 12:56:31',periods = 5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [62]:
pd.date_range('5/2/2012 12:56:31',periods = 5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 频率和日期偏移量

In [65]:
from pandas.tseries.offsets import Hour,Minute
hour = Hour()
hour

In [66]:
four_hours = Hour(4)
four_hours

In [67]:
pd.date_range('1/1/2000','1/3/2000 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [69]:
pd.date_range('1/1/2000','1/3/2000 23:59',freq = '4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [70]:
Hour(2) + Minute(30)

In [71]:
pd.date_range('1/1/2000',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### WOM日期

In [72]:
rng = pd.date_range('1/1/2012','9/1/2012',freq = 'WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', offset='WOM-3FRI')]

## 移动（超前和之后）数据

In [74]:
ts = pd.Series(np.random.randn(4),
           index = pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    0.407796
2000-02-29   -1.134994
2000-03-31    0.594561
2000-04-30    1.139255
Freq: M, dtype: float64

In [75]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.407796
2000-04-30   -1.134994
Freq: M, dtype: float64

In [76]:
ts.shift(-2)

2000-01-31    0.594561
2000-02-29    1.139255
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [77]:
ts.shift(2,freq='M')

2000-03-31    0.407796
2000-04-30   -1.134994
2000-05-31    0.594561
2000-06-30    1.139255
Freq: M, dtype: float64

In [78]:
ts.shift(3,freq='D')

2000-02-03    0.407796
2000-03-03   -1.134994
2000-04-03    0.594561
2000-05-03    1.139255
dtype: float64

In [79]:
ts.shift(1,freq='3D')

2000-02-03    0.407796
2000-03-03   -1.134994
2000-04-03    0.594561
2000-05-03    1.139255
dtype: float64

In [80]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00    0.407796
2000-02-29 01:30:00   -1.134994
2000-03-31 01:30:00    0.594561
2000-04-30 01:30:00    1.139255
Freq: M, dtype: float64

In [81]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)
now + 3* Day()

Timestamp('2011-11-20 00:00:00')

In [82]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [83]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [84]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [85]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [87]:
ts = pd.Series(np.random.randn(20),
              index = pd.date_range('1/15/2000',periods=20,freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31    0.466047
2000-02-29   -0.352754
2000-03-31   -0.249470
dtype: float64

In [90]:
ts.resample('M').mean()

2000-01-31    0.466047
2000-02-29   -0.352754
2000-03-31   -0.249470
Freq: M, dtype: float64

In [91]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [92]:
tz = pytz.timezone('US/Eastern')
tz

## 本地化和转换

In [93]:
rng = pd.date_range('3/9/2012 9:30',periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)),index=rng)
print(ts.index.tz)

None

In [94]:
pd.date_range('3/9/2012 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [ ]:
ts_utc = ts.tz_localize('UTc')
426